* {
  font-family: "Roboto", sans-serif; }

.btnNumero,
.btnOperador,
.btnBorrar {
  background-color: #ffffff;
  border-color: #000000;
  font-size: larger;
  font-weight: 500;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  margin: 2px; }
  .btnNumero:active,
  .btnOperador:active,
  .btnBorrar:active {
    background-color: #efefd0; }
  .btnNumero:focus,
  .btnOperador:focus,
  .btnBorrar:focus {
    outline: none; }

#visor {
  background-color: #ffffff;
  margin: 0.5em 0em 1em 1.2em;
  border: none;
  border-radius: 8px;
  color: #fcf7f8;
  font-weight: 600;
  text-align: end;
  padding: 0.5em;
  width: 27.5em;
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: right;
  word-break: break-all; }

#valorAnterior {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 26.5rem;
  height: 4em;
  color: #000000;
  font-size: 1.5rem; }

#valorActual {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 26.5rem;
  height: 4em;
  color: #000000;
  font-size: 1.2rem; }

* {
  font-family: "Roboto", sans-serif; }

.conteiner__teclado__cientifica {
  display: grid;
  grid-template-columns: 4em 4em 4em 4em 4em 4em 4em;
  grid-template-rows: 4em 4em 4em 4em 4em;
  grid-template-areas: "radial degre  multiply_all_back open_parenthesis close_parenthesis percentage erase" "invert sin natural_logarithm seven eight nine division" "pi cos  logarithm four five six multiply" "euler_number tangent square_root one two three subtract" "previous_result exponential_ten exponential_y zero point same add";
  justify-content: center; }

.conteiner__calculadora__cientifica {
  background: rgba(35, 87, 137, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  border-radius: 8px;
  width: 30em;
  height: 33em; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background_matrix.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  margin: 0.5em 0rem 0rem 0rem;
  color: #fcf7f8; }
