body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background_matrix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    margin: 0.5em 0rem 0rem 0rem;
    color: map-get($colors, h1_text);
}


.loginContainer {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_btn__autor {
    width: 8em;
    height: 2em;
    position: absolute;
    top: 1em;
    left: 1em;
}

.container__input {
    display: flex;
    flex-direction: column;
    color: map-get($colors, color_teclado);
    width: 18em;
    height: 10em;
    background-color: black;
    border-radius: 8px;
    font-weight: bolder;
    margin: 1.5em 0em;

    &.invisible {
        display: none;
    }
}

.container_btn__CV {
    width: 8em;
    height: 3em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.div__input {
    padding: 2px;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
}

.div__btn {
    padding: 2px;
    margin: 5px;
    border-radius: 8px;
    height: 3em;
    font-weight: bolder;
    cursor: pointer;
}