@import "../base/typography.scss";
@import "../base/color.scss";

.btnDoble {
  grid-column: span 2;
}


.btnNumero,
.btnOperador,
.btnOperadorUnitario,
.btnOperadorAns,
.btnBorrar {

  background-color: map-get($colors, color_teclado);
  border-color: map-get($colors, border_tecla);
  font-size: larger;
  font-weight: 500;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  margin: 2px;

  &:active {
    background-color: map-get($colors, active_color);
  }

  &:focus {
    outline: none;
  }
}

#btn__autor {
  width: 10em;
  height: 2em;
  border-radius: 0.5em;
  font-weight: 600;
  background-color: map-get($colors, color_teclado);
  cursor: pointer;

  //position: absolute;
  //bottom: 40px;
  //right: 40px;

}

#btn__cv {
  width: 10em;
  height: 2em;
  border-radius: 0.5em;
  font-weight: 600;
  background-color: map-get($colors, color_teclado);
  cursor: pointer;

  //position: absolute;
  // top: 140px;
  // left: 40px;

}