@import "../base/typography.scss";
@import "../base/color.scss";

.btnNumero,
.btnOperador,
.btnOperadorUnitario,
.btnBorrar {
  background-color: map-get($colors, color_teclado);
  border-color: map-get($colors, border_tecla);
  font-size: larger;
  font-weight: 500;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  margin: 2px;

  &:active {
    background-color: map-get($colors, active_color);
  }

  &:focus {
    outline: none;
  }
}