.conteiner__teclado__cientifica {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem;

  grid-template-areas:
    "radial degre  multiply_all_back open_parenthesis close_parenthesis percentage erase"
    "invert sin natural_logarithm seven eight nine division"
    "pi cos  logarithm four five six multiply"
    "euler_number tangent square_root one two three subtract"
    "previous_result exponential_ten exponential_y zero point same add";
  justify-content: center;
}

.conteiner__calculadora__cientifica {
  @extend .conteiner__calculadora;
  width: 30rem;
  height: 30rem;
}

#visor__calculadora__cientifica {
  @extend .visor__calculadora;
  width: 27.5rem;
  height: 4rem;
}

.visor_superior,
.visor_inferior {
  color: map-get($colors, color_text);
  font-size: .5em;
}